<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="ru" xml:lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link href="https://res.cloudinary.com/ddxoslwlu/image/upload/v1595700887/beer_tjndvr.png" rel="shortcut icon"/>
    <title>rBeer | Contents</title>
    <link href="https://res.cloudinary.com/ddxoslwlu/raw/upload/v1595753131/icons-256_zaxv2r.css" rel="stylesheet"/>
    <link href="https://res.cloudinary.com/ddxoslwlu/raw/upload/v1595801172/layout-256_drsx50.css" rel="stylesheet"/>
    <link href="https://res.cloudinary.com/ddxoslwlu/raw/upload/v1595789170/nav-bar_y6gy8f.css" rel="stylesheet"/>

    <style>
        .photo {
            border: 3px solid darkred;
            position: static;
        }

        .quote {
            font-size: 1.4em
        }

        .quote span {
            display: block;
            font-size: .8em;
            text-align: right
        }
        .front {
            margin-bottom: 20px;
            margin-top: 80px
        }
        body {
            background-color: black;
            color: white;
            font-size: 20px;
            height: 100%;
            margin: 0;
            overflow-x: hidden;
            padding-bottom: 40px;
            padding-top: 40px;
            position: relative;
            top: 35px
        }
    </style>

</head>
<body>
<div class="header-main">
    <img alt="base logotype" src="https://image.flaticon.com/icons/svg/803/803730.svg">
    <nav>
        <ul>
            <li><a th:href="@{/default-page-1}" title="Главная страница">Главная</a></li>
            <li><a th:href="@{/contents}" title="Содержание веб-страницы">Содержание</a></li>
            <li><a href="#" title="Обо всем">Разное</a></li>
            <li><a href="#" title="Об авторе" style="color:darkred">Об авторе</a></li>
        </ul>
    </nav>
</div>

<div class="wrapper">
    <aside class="header-toggle unprintable" id="header-toggle"
           onclick="$('#header').show();$('#header-toggle').hide();"
           title="Показать меню">&#9776;
    </aside>
    <header class="header" id="header">
        <div class="face">
            <a href="/">
                <img alt="Саша Комегунов"
                     class="photo"
                     src="https://res.cloudinary.com/ddxoslwlu/image/upload/v1595748957/photo-256x256-square_dlqjfi.jpg"
                     title="Саша Комегунов"/>
            </a>
        </div>
        <nav>
            <ul class="menu social notranslate">
                <li><a href="https://t.me/saskakomegunov" rel="nofollow"
                       title="Telegram"><i aria-hidden="true" class="icon icon-telegram notranslate"></i></a></li>
                <li><a href="https://github.com/fishand4ips" itemprop="sameAs" rel="nofollow" title="GitHub"><i
                        aria-hidden="true" class="icon icon-github notranslate"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC9tIIDtg-dfcI12lCImwJBw?view_as=subscriber"
                       itemprop="sameAs" rel="nofollow" title="Youtube"><i aria-hidden="true" class="icon icon-youtube notranslate"></i></a></li>
                <li><a href="https://www.pinterest.com/akomegunov/" itemprop="sameAs" rel="nofollow"
                       title="Pinterest"><i aria-hidden="true" class="icon icon-pinterest notranslate"></i></a></li>
                <li><a href="https://twitter.com/AKomegunov" rel="nofollow"
                       title="Twitter"><i aria-hidden="false" class="icon icon-twitter notranslate"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100010915872507" rel="nofollow"
                       title="Facebook"><i aria-hidden="true" class="icon icon-facebook notranslate"></i></a></li>
                <li><a href="https://www.instagram.com/komegunovsasha/" rel="nofollow"
                       title="Instagram"><i aria-hidden="true" class="icon icon-instagram notranslate"></i></a></li>
                <li><a href="https://www.linkedin.com/in/sasha-komegunov/" rel="nofollow"
                       title="LinkedIn"><i aria-hidden="true" class="icon icon-linkedin notranslate"></i></a></li>
                <li><a href="mailto:alekomegunov@gmail.com" rel="nofollow"
                       title="alekomegunov@gmail.com"><i aria-hidden="true" class="icon icon-mail notranslate"></i></a></li>
                <li><a href="https://vk.com/id178700474" rel="nofollow"
                       title="ВКонтакте"><i aria-hidden="true" class="icon icon-vk notranslate"></i></a></li>
            </ul>
        </nav>
        <div class="search">
            <form action="https://www.google.com/search" method="get">
                <input name="sitesearch" type="hidden" value=""/>
                <label for="search-query"></label><input autocomplete="off" class="field field-text" id="search-query"
                                                         name="q" onfocus="$('.google').css('visibility', 'visible');" placeholder="Поиск..."
                                                         type="text"/>
                <input alt="Найти через Google" class="google" src="https://res.cloudinary.com/ddxoslwlu/image/upload/v1595801539/google-search-icon_wqu7xj.svg"
                       title="Найти через Google" type="image"/>
            </form>
        </div>
    </header>
</div>
<section itemscope="" itemtype="http://schema.org/BlogPosting">
    <div class="wrapper">
        <header itemprop="name"><h1>Страница не найдена</h1></header>
        <main>
            <article class="main" itemprop="articleBody">
                <p>
                    <i>Ошибка <span th:text="${#response.status}"></span></i>. К сожалению, данной страницы нет на нашем сайте. Возможно,
                вы ввели не правильный адрес или страница была удалена с сервера.
                Вернуться на <a th:href="@{/default-page-1}">главную</a> страницу.
                </p>
                <figure style="text-align:center;top:45px"><img alt="page not found" src="https://res.cloudinary.com/ddxoslwlu/image/upload/v1595891214/error404_fvczcx.svg" style="width: 350px"/></figure>

            </article>
        </main>
    </div>
</section>

<div class="wrapper">
    <footer class="footer"><p> &copy; <span itemprop="copyrightHolder" itemscope="" temtype="http://schema.org/Person">
            <span itemprop="name">Саша Комегунов, 2020</span>
        </span>
    </footer>
</div>


<script src="//code.jquery.com/jquery-1.9.0.min.js"></script>
<script>var disqus_shortname = 'www-rBeer-com';</script>
</body>
</html>
