.filter-content {
    display: none;
}

.show {
    display: block;
    margin: 5px;
}

.tag {
    display: inline;
    color: #fff;
    background-color: #888;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    font-size: 13px;
    font-family: "Source Code Pro", monospace;
    margin-left: 5px;
    cursor: pointer;
}

.tag:hover {
    background-color: #666;
}

.tag.active {
    background-color: #3f3f3f;
    color: white;
}

.content {
    margin-top: 20px;
}