.filter-content {
    display: none;
}

.show {
    display: block;
    margin: 5px;
}

.tag {
    display: inline-block;
    color: #fff;
    background-color: #888;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 5px;
    font-size: 12px;
}

.tag:hover {
    background-color: #666;
}

.tag.active {
    background-color: #3f3f3f;
    color: white;
}

.content {
    margin: 20px;
}

